# CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Phil Malick is the sole owner of all files in this repository.
* @malickland-304
